{% extends 'base.html' %}
{% block content %}
<table style="border:1px solid green;">
    <tr>
        <th>student </th>
        <th>number </th>
        <th>email </th>
    </tr>
    <tr>
        <td>jimmy ngigi</td>
        <td>0743037467 </td>
        <td>jimmyngigi55@gmail.com</td>
    </tr>
    <tr>
        <td>catherine wanjiru</td>
        <td>0743037467 </td>
        <td>catherinewanjiru </td>
    </tr>
    <tr>
        <td>mercy kamamia</td>
        <td>0712345678</td>
        <td> mercykamamia@gmail.com</td>
    </tr>
</table>
{% endblock %}