{% extends 'base.html' %}
{% block title %}
<title>Registration</title>
{% endblock %}
{% block content %}
<h1 style="color:black;border-radius:50px;margin-left:450px;margin-right:450px;text-align:center;margin-bottom:50px; ">Registration</h1>
<div>
<div style="float:left">
<form style="    width:250%; background-color:white; background-image:linear-gradient(to right,lightblue,blue); padding:20px;">
<label for="Fname" class="l">First name</label><br><input type="text" name="Fname" id="Fname">
<label for="lname" class="l">Last name</label><br><input type="text" name="Lname" id="Lname">
<label for="email" class="l">Email</label><br><input type="email" name="email" id="email">
<label class="l">Age</label><br><input type="number" name="age">
<label class="l">Country</label><br>
<select name="country">
<option>Kenya</option>
<option>Uganda</option>
<option>Tanzania</option>
</select><br>
<label class="l">Disability</label><input type="checkbox" name="disability" class="dis"><br>
<input type="submit" name="savedata">
</form>
</div>
 <div style="float:right">
<img src="https://th.bing.com/th?id=OIP.PDIBot_44POXQg0qzKfLVwHaFT&w=295&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="mountains" style="height:450px;width:450px;">
 </div>
</div>

{% endblock %}